@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600;800&display=swap');

body {
  padding: 0;
  margin: 0;
  font-family: montserrat,sans-serif;
  font-weight: 500;
  text-align: center
}

.center {
  display: flex;
  width: 100%;
  height: 100vh;
  background-color: #121212;
  justify-content: center;
  align-items: center;
}

.container {
  width: 20%;
}

#love {
  position: fixed;
  width: inherit;
  color: rgba(200, 200, 200, 0.48);
  bottom: 1rem ;
  -webkit-tap-highlight-color: transparent;
  font-size: 1.2rem;
}

#svgator {
  color: rgba(100, 90, 210, 0.8);
}

#svgator:hover {
  color: rgba(100, 90, 230, 1);
}

a:visited {
  color: rgba(100, 90, 210, 1);
}